<div class="entry">
    {% if entry.tags.all %}
        <div class="tags">
            {% for tag in entry.tags.all %}
                <div class="tag" style="{% if tag.color %}border-color: {{ tag.color }}; color: {{ tag.color }};{% endif %}">{{ tag.name }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="header">
        {% if entry.url %}<a href="{{ entry.url }}">{% endif %}
            <div class="title">
                {{ entry.title }}
            </div>
        {% if entry.url %}</a>{% endif %}
        {% if entry.authors.all %}
            <div class="authors">
                {{ entry.authors_names|join:', ' }}
            </div>
        {% endif %}
        {% if entry.length_display %}
            <div class="length">
                {{ entry.length_display }}
            </div>
        {% endif %}
    </div>
    {% if entry.description_html %}
        <div class="description">{{ entry.description_html|safe }}</div>
    {% endif %}
    {% if entry.identifiers %}
        <div class="identifiers">
            <ul>
                {% for id in entry.identifiers %}
                    <li>{{ id.type.name }}: {{ id.value }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if entry.children.all %}
        <div class="sub-entries">
            {% for sub in entry.children.all %}
                {% include 'fragments/sub-entry.html' %}
            {% endfor %}
        </div>
    {% endif %}
</div>
