{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
    {% include 'fragments/browse-menu.html' %}

    <div class="categories-options">
        <nav class="category-tree">
            {% if categories %}
                <p>Listing {{ entries_count }} entries in the following categories:</p>
                {% include 'fragments/category-tree.html' %}
            {% else %}
                <p>No entries found. Perhaps the filtering is too narrow.</p>
                <p><a href="{% url 'categories' %}">Clear filters</a></p>
            {% endif %}
        </nav>
        <form class="filters" action="{% url 'categories' %}" method="get">
            <h4>Filters &amp; Languages...</h4>
            <div>
                <p>
                    <strong>Tags</strong> (match <strong>all</strong> selected)<br>
                    {% for tag in tags %}
                        <label><input type="checkbox" name="tag" value="{{ tag.id }}" {% if tag.id in tags_selected %}checked{% endif %}> {{ tag.name }}</label><br>
                    {% endfor %}
                    <label><input type="checkbox" name="tag" value="null" {% if 'null' in tags_selected %}checked{% endif %}> Untagged</label>
                </p>
            </div>
            <div>
                <p>
                    <strong>Languages</strong> (match <strong>any</strong> selected)<br>
                    {% for lang in langs %}
                        <label><input type="checkbox" name="lang" value="{{ lang.code }}" {% if lang.code in langs_selected %}checked{% endif %}> {{ lang.name }}</label><br>
                    {% endfor %}
                    <label><input type="checkbox" name="lang" value="null" {% if 'null' in langs_selected %}checked{% endif %}> None / Not important</label>
                </p>
            </div>
            <div class="submit-row">
                <input type="submit" value="Filter"> <a href="{% url 'categories' %}">Clear filters</a>
            </div>
        </form>
    </div>

    {% for c in categories %}
        {% include 'fragments/category.html' with header='h2' %}
        {% for c in c.children_filtered %}
            {% include 'fragments/category.html' with header='h3' %}
            {% for c in c.children_filtered %}
                {% include 'fragments/category.html' with header='h4' %}
                {% for c in c.children_filtered %}
                    {% include 'fragments/category.html' with header='h5' %}
                    {% for c in c.children_filtered %}
                        {% include 'fragments/category.html' with header='h6' %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock content %}
