{% extends 'base.html' %}

{% block title %}Search Results - {% endblock title %}

{% block content %}
    {% include 'fragments/browse-menu.html' %}
    <h1>Search Results for "{{ query }}"</h1>
    <div class="entry-list">
        {% for e, hits in entries %}
            <p class="entry-note">In <i>{{ e.categories_names|join:', ' }}</i>:</p>
            {% include 'fragments/entry.html' with entry=e %}
        {% empty %}
            <p>No results. Do you think something is missing? <a href="{% url 'contact' %}">Let us know</a>!</p>
        {% endfor %}
    </div>
{% endblock content %}
