:root {
    --main-bg-color: #262626;
    --light-bg-color: #333333;
    --highlight-bg-color: #444444;
    --text-color: #cccccc;
    --text-color-faded: #666666;
    --accent-color: #e770ff;
    --border-radius: 3px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

a:link, a:visited {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover, a:active {
    color: white;
}

.content-box {
    max-width: 700px;
    min-width: 200px;
    margin: 0 auto;
    padding: 25px;
}

.logo {
    width: 175px;
    margin-top: 20px;
    margin-bottom: 15px;
    max-width: 100%;
}

#header {
    background-color: var(--light-bg-color);
}

#header .content-box {
    text-align: center;
}

#site-title {
    text-transform: uppercase;
    margin-top: 0.4em;
    letter-spacing: 0.1em;
}

.browse-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.browse-menu li {
    display: inline-block;
}

.browse-menu li a:link, .browse-menu li a:visited {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--light-bg-color);
    border-radius: var(--border-radius);
}

.browse-menu li a:hover, .browse-menu li a:active {
    background-color: var(--highlight-bg-color);
}

.browse-menu li a.current {
    background-color: var(--light-bg-color);
    color: var(--text-color);
}

.entry {
    margin-bottom: 15px;
    margin-top: 0px;
    background-color: var(--light-bg-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.entry > .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--light-bg-color);
    border-radius: var(--border-radius);
}

.entry > .header .title {
    font-weight: bold;
    vertical-align: middle;
    margin: 10px 15px;
}

.entry > .header > a {
    display: block;
}

.entry > .header .authors {
    margin: 10px 15px;
    font-style: italic;
    font-size: 0.8em;
}

.entry > .header .tags {
    flex-grow: 1;
    text-align: right;
    margin: 10px 15px;
    font-size: 0.8em;
}

.entry > .header .tags .tag {
    display: inline-block;
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color-faded);
    color: var(--text-color-faded);
    padding: 3px;
    vertical-align: middle;
}

.entry > .header .length {
    margin: 10px 15px;
    font-size: 0.8em;
}

.entry > .description, .entry > .identifiers {
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    font-size: 0.9em;
}

.entry > .sub-entries {
    margin-bottom: 14.4px;
    font-size: 0.9em;
}

.sub-entry {
    margin-left: 25px;
    background-color: var(--light-bg-color);
    border-radius: var(--border-radius);
}

.sub-entry p, .sub-entry ul, .sub-entry ol {
    margin-top: 0px;
    margin-bottom: 0px;
}

.sub-entry > .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--light-bg-color);
    border-radius: var(--border-radius);
}

.sub-entry > .header .title {
    font-weight: bold;
    vertical-align: middle;
    margin: 5px 15px;
}

.sub-entry > .header > a {
    display: block;
}

.sub-entry > .header .length {
    margin: 5px 15px;
    font-size: 0.8em;
}

.sub-entry > .description, .sub-entry > .identifiers {
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    font-size: 0.9em;
}

.identifiers ul {
    list-style: none;
    padding: 0;
}
