@font-face {
    font-family: "Roboto Regular";
    src: url("/static/fonts/Roboto-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-bg-color: #262626;
    --light-bg-color: #333333;
    --highlight-bg-color: #444444;
    --text-color: #cccccc;
    --text-color-faded: #777777;
    --accent-color: #e770ff;
    --border-radius: 3px;
}

body {
    font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    line-height: 1.7em;
}

a:link, a:visited {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover, a:active {
    color: white;
}

h1 {
    line-height: 1.3em;
}

input, textarea, select {
    background-color: var(--highlight-bg-color);
    border: none;
    border-radius: var(--border-radius);
    color: var(--text-color);
    padding: 10px;
}

.content-box {
    max-width: 700px;
    min-width: 200px;
    margin: 0 auto;
    padding: 25px;
}

.logo {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 175px;
    max-width: 100%;
}

.logo img {
    width: 175px;
    max-width: 100%;
}

#header {
    background-color: var(--light-bg-color);
    background-image: url('/static/img/tiphares.svg');
    background-position: -475px -399px;
    background-position: calc(50% - 330px) -399px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1439.15px auto;
}

@media only screen and (max-width: 700px) {
    #header {       
        background-position: 51% -399px;
        /* background-position: 50% 50%; */
        /* background-position: 50% -425px; */
        /* background-position: 50% -320px; */
    }
}

#header .content-box {
    text-align: center;
}

#site-title {
    text-transform: uppercase;
    margin-top: 0.4em;
    letter-spacing: 0.1em;
}

#site-title a {
    color: var(--text-color);
}

.main-nav ul {
    list-style: none;
    padding: 0;
}

.main-nav ul li {
    display: inline-block;
}

.main-nav ul li a {
    padding: 5px 10px;
}

.browse-menu {
    margin-bottom: 40px;
    display: block;
    overflow: hidden;
}

.browse-menu .search {
    float: right;
    width: 400px;
    max-width: 100%;
}

.browse-menu .search form {
    display: inline;
}

.browse-menu .search input[type=search] {
    margin: 2.5px;
    padding: 10px 15px;
    width: 300px;
    max-width: 100%;
    line-height: 27.5px;
    border-radius: var(--border-radius);
    border: none;
    color: var(--text-color);
    background-color: var(--highlight-bg-color)

}

.browse-menu a:link, .browse-menu a:visited, .browse-menu .search input[type=submit] {
    margin: 2.5px;
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--light-bg-color);
    border-radius: var(--border-radius);
    border: none;
    color: var(--accent-color);
    line-height: 27.5px;
    cursor: pointer;
}

.browse-menu a:hover, .browse-menu a:active, .browse-menu .search input[type=submit]:hover {
    background-color: var(--highlight-bg-color);
    color: white;
}

.browse-menu a.current {
    background-color: var(--light-bg-color);
    color: var(--text-color);
}

.category-tree {
    margin-bottom: 40px;
}

.entry-note {
    font-size: 0.8em;
    color: var(--text-color-faded);
}

.entry {
    margin-bottom: 15px;
    margin-top: 0px;
    background-color: var(--light-bg-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    line-height: 1em;
}

.entry > .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--light-bg-color);
    border-radius: var(--border-radius);
}

.entry > .header .title {
    font-weight: bold;
    vertical-align: middle;
    margin: 10px 15px;
    line-height: 1.3em;
}

.entry > .header > a {
    display: block;
}

.entry > .header .authors {
    margin: 10px 15px;
    font-style: italic;
    font-size: 0.8em;
}

.entry > .tags {
    float: right;
    text-align: right;
    margin: 8px 15px;
    font-size: 0.75em;
}

.entry > .tags .tag {
    display: inline-block;
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color-faded);
    color: var(--text-color-faded);
    padding: 1px 3px;
    vertical-align: middle;
}

.entry > .header .length {
    margin: 10px 15px;
    font-size: 0.8em;
}

.entry > .description, .entry > .identifiers {
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    font-size: 0.9em;
}

.entry > .sub-entries {
    margin-bottom: 14.4px;
    font-size: 0.9em;
}

.sub-entry {
    margin-left: 25px;
    background-color: var(--light-bg-color);
    border-radius: var(--border-radius);
}

.sub-entry p, .sub-entry ul, .sub-entry ol {
    margin-top: 0px;
    margin-bottom: 0px;
}

.sub-entry > .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--light-bg-color);
    border-radius: var(--border-radius);
}

.sub-entry > .header .title {
    font-weight: bold;
    vertical-align: middle;
    margin: 5px 15px;
    line-height: 1.3em;
}

.sub-entry > .header > a {
    display: block;
}

.sub-entry > .header .length {
    margin: 5px 15px;
    font-size: 0.8em;
}

.sub-entry > .description, .sub-entry > .identifiers {
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    font-size: 0.9em;
}

.identifiers ul {
    list-style: none;
    padding: 0;
}

.footer {
    text-align: center;
    font-size: 0.9em;
    line-height: 1.5em;
}

.field-wrapper {
    margin-bottom: 12px;
}

.captcha {
    display: block;
    margin-bottom: 5px;
}
